.balloon-grid-wrapper {
  /* padding: 1.5em 1em;
  margin: auto;
  max-width: 960px; */
}

.balloon-grid-caption {
  text-align: center;
  color: var(--sec-color-light);
}

.balloon-grid-caption + .balloon-grid {
  margin-top: 1.5em;
}

.balloon-grid {
  transition: opacity 250ms ease-in-out;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media only screen and (min-width: 800px) {
  .balloon-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.balloons-screen,
.balloons-screen--entered {
  -webkit-animation: inAnimation 250ms ease-in;
          animation: inAnimation 250ms ease-in;
}

.balloons-screen--exiting,
.balloons-screen--exit {
  -webkit-animation: outAnimation 270ms ease-out;
          animation: outAnimation 270ms ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes inAnimation {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes inAnimation {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@-webkit-keyframes outAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes outAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
