/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.game-container {
  min-height: 100vh;
}

.game-nav {
  padding: 1.5em 2em;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-align-items: center;
          align-items: center;
}

.game-settings {
  display: -webkit-flex;
  display: flex;
  gap: 1em;
  -webkit-align-items: center;
          align-items: center;
}

.game-title {
  margin: 0;
  font-size: 1em;
}

.game-intro-title {
  margin: 0;
}
