@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./fonts/fonts.css');

body {
  background: var(--tg-theme-secondary-bg-color, white);
  max-height: 100dvh;
}

h1 {
  font-family: 'Arco';
}

h2 {
  font-family: 'Klyakson';
}

h3 {
  font-family: 'Comforta';
}